#include "resource.h"

STRINGTABLE
BEGIN
  IDS_STRING1, "<?xml version='1.0' standalone='no' ?>\r\n<MENU>\r\n    <POPUP name='Game'>\r\n        <MENUITEM value='1000'>new</MENUITEM>\r\n        <MENUITEM value='1001'>Exit</MENUITEM>\r\n    </POPUP>\r\n    <POPUP name='Options'>\r\n        <MENUITEM value='1002'>Momentum</MENUITEM>\r\n        <POPUP name='Difficulty'>\r\n            <MENUITEM value='1003'>Easy</MENUITEM>\r\n            <MENUITEM value='1004'>Normal</MENUITEM>\r\n            <MENUITEM value='1005'>l337</MENUITEM>\r\n            <MENUITEM value='1006'>Humans Cant Win</MENUITEM>\r\n        </POPUP>\r\n        <MENUITEM value='1007'>Sound</MENUITEM>\r\n    </POPUP>\r\n    <POPUP name='Help'>\r\n        <MENUITEM value='1008'>Contents</MENUITEM>\r\n        <MENUITEM value='1009'>Credits</MENUITEM>\r\n        <MENUITEM value='1010'>About</MENUITEM>\r\n    </POPUP>\r\n</MENU>"
//  "<?xml version='1.0' standalone='no' ?>\r\n<MENU>\r\n    <POPUP name='Game'>\r\n        <MENUITEM value='1000'>new</MENUITEM>\r\n        <MENUITEM value='1001'>Exit</MENUITEM>\r\n    </POPUP>\r\n    <POPUP name='Options'>\r\n        <MENUITEM value='1002'>Momentum</MENUITEM>\r\n        <POPUP name='Difficulty'>\r\n            <MENUITEM value='1003'>Easy</MENUITEM>\r\n            <MENUITEM value='1004'>Normal</MENUITEM>\r\n            <MENUITEM value='1005'>l337</MENUITEM>\r\n            <MENUITEM value='1006'>Humans Cant Win</MENUITEM>\r\n        </POPUP>\r\n    </POPUP>\r\n    <POPUP name='Help'>\r\n        <MENUITEM value='1007'>Contents</MENUITEM>\r\n        <MENUITEM value='1008'>Credits</MENUITEM>\r\n        <MENUITEM value='1009'>About</MENUITEM>\r\n    </POPUP>\r\n</MENU>"
//  "<?xml version='1.0' standalone='no' ?>\r\n<MENU>\r\n    <POPUP name='Game'>\r\n        <MENUITEM value='1000'>new</MENUITEM>\r\n        <MENUITEM value='1001'>Exit</MENUITEM>\r\n    </POPUP>\r\n    <POPUP name='Help'>\r\n        <MENUITEM value='1002'>Contents</MENUITEM>\r\n        <MENUITEM value='1003'>About</MENUITEM>\r\n    </POPUP>\r\n</MENU>"
END

