#include "resource.h"
#define WIN32_LEAN_AND_MEAN
#include <windows.h>

ID_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "New",    ID_FILE_NEW
        MENUITEM "Rename", ID_FILE_RENAME
        POPUP "Open"
        BEGIN
           MENUITEM "TileMap", ID_FILE_OPEN_TILEMAP
           MENUITEM "Tile",    ID_FILE_OPEN_TILE
           MENUITEM "Image",   ID_FILE_OPEN_IMAGE
        END
        MENUITEM "Save",      ID_FILE_SAVE
        MENUITEM "Save As",   ID_FILE_SAVEAS
        MENUITEM "Close",     ID_FILE_CLOSE
        MENUITEM "Close All", ID_FILE_CLOSEALL
        MENUITEM "E&xit",     ID_FILE_EXIT
    END

    POPUP "Edit"
    BEGIN
        MENUITEM "Solidity", ID_EDIT_SOLIDITY
        MENUITEM "Diselect", ID_EDIT_DISELECT, GRAYED
        MENUITEM "Select",   ID_EDIT_SELECTTHISINDEX
        MENUITEM "Reolad",   ID_EDIT_RELOADTHISINDEX, GRAYED
        MENUITEM "Copy",     ID_EDIT_COPY
        MENUITEM "Cut",      ID_EDIT_CUT, GRAYED
        MENUITEM "PAste",    ID_EDIT_PASTE
        MENUITEM "Undo",     ID_EDIT_UNDO
        MENUITEM "Redo",     ID_EDIT_REDO, GRAYED
        POPUP "Edit"
        BEGIN
            MENUITEM "Add Sprite",    ID_EDIT_SPRITES_ADDSPRITE
            MENUITEM "Delete Sprite", ID_EDIT_SPRITES_DELETESPRITES, GRAYED
            MENUITEM "Sprite Stats",  ID_EDIT_SPRITES_SPRITESTATS,   GRAYED
        END
        MENUITEM "SpecialDataTypes",  ID_EDIT_SPRITES_SPECIALDATATYPES
    END

    POPUP "&A*"
    BEGIN
        MENUITEM "Create-StartPoint", ID_ASTAR_CREATESTART
        MENUITEM "Create-EndPoint",   ID_ASTAR_CREATEEND
        MENUITEM "Run",               ID_ASTAR_RUN
        MENUITEM "Show Stats",        ID_ASTAR_SHOWSTATS
    END

    POPUP "&Options"
    BEGIN
        MENUITEM "Capture Screen Shot", ID_OPTIONS_SCREENSHOT
    END

    POPUP "&Help"
    BEGIN
        MENUITEM "About",    ID_HELP_ABOUT
        MENUITEM "Contents", ID_HELP_CONTENTS
    END
END


ID_NEWMAP_DIALOG DIALOG 6, 18, 180, 107
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "New Map"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        ID_NEWMAP_DIALOG_EDIT_TILESET, 66, 57, 65, 12, ES_AUTOHSCROLL, WS_EX_ACCEPTFILES
    EDITTEXT        ID_NEWMAP_DIALOG_EDIT_WIDTH,   65, 19, 66, 12, ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        ID_NEWMAP_DIALOG_EDIT_HEIGHT,  66, 37, 65, 12, ES_AUTOHSCROLL | ES_NUMBER

    LTEXT           "Width",    ID_NEWMAP_DIALOG_TEXT_WIDTH,   14, 20, 20, 12
    LTEXT           "Height",   ID_NEWMAP_DIALOG_TEXT_HEIGHT,  14, 38, 27, 12
    LTEXT           "Tile Set", ID_NEWMAP_DIALOG_TEXT_TILESET, 14, 60, 29, 12

    PUSHBUTTON      "browse", ID_NEWMAP_DIALOG_BUTTON_BROWSE, 132, 57, 31, 13
    PUSHBUTTON      "ok",     ID_NEWMAP_DIALOG_BUTTON_OK,      65, 83, 40, 14
    PUSHBUTTON      "cancel", ID_NEWMAP_DIALOG_BUTTON_CANCEL, 120, 84, 40, 14

    CONTROL         "", ID_NEWMAP_DIALOG_UPWOWN_WIDTH,  "msctls_updown32", 0x22 | WS_CLIPSIBLINGS, 132, 19, 12, 12, WS_EX_STATICEDGE
    CONTROL         "", ID_NEWMAP_DIALOG_UPWOWN_HEIGHT, "msctls_updown32", 0x22 | WS_CLIPSIBLINGS, 132, 37, 12, 12, WS_EX_STATICEDGE
END

ID_RESIZEMAP_DIALOG DIALOG 26, 19, 137, 98
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Resize Map"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Width",  ID_RESIZEMAP_DIALOG_TEXT_WIDTH,  26, 18, 30, 12
    LTEXT           "Height", ID_RESIZEMAP_DIALOG_TEXT_HEIGHT, 25, 36, 29, 12
    EDITTEXT        ID_RESIZEMAP_DIALOG_EDIT_WIDTH,  66, 16, 37, 12, ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        ID_RESIZEMAP_DIALOG_EDIT_HEIGHT, 66, 34, 37, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", ID_RESIZEMAP_DIALOG_UPDOWN_WIDTH,  "msctls_updown32", 0x22 | WS_CLIPSIBLINGS, 104, 16, 12, 12, WS_EX_STATICEDGE
    CONTROL         "", ID_RESIZEMAP_DIALOG_UPDOWN_HEIGHT, "msctls_updown32", 0x22 | WS_CLIPSIBLINGS, 103, 34, 12, 12, WS_EX_STATICEDGE
    PUSHBUTTON      "ok",     ID_RESIZEMAP_DIALOG_BUTTON_OK,     14, 70, 40, 14
    PUSHBUTTON      "cancel", ID_RESIZEMAP_DIALOG_BUTTON_CANCEL, 79, 70, 40, 14
END

ID_ABOUT_DIALOG DIALOGEX 6, 18, 180, 137
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Author:",  ID_ABOUT_DIALOG_TEXT_AUTHOR, 12, 12, 36, 12
    LTEXT           "Version:", ID_ABOUT_DIALOG_TEXT_VERSION, 12, 26, 39, 12
    LTEXT           "andre boyce   ", ID_ABOUT_DIALOG_TEXT_AUTHOR_VALUE, 54, 12, 51, 12
    LTEXT           "Credits", ID_ABOUT_DIALOG_TEXT_CREDITS, 12, 46, 28, 12
    LTEXT           "The #gamedev.net community", ID_ABOUT_DIALOG_TEXT_CREDITS_VALUE, 53, 45, 100, 12
    PUSHBUTTON      "ok", ID_ABOUT_DIALOG_BUTTON_OK, 126, 112, 40, 14
    EDITTEXT        ID_ABOUT_DIALOG_EDIT_VERSION, 53, 26, 32, 12, ES_AUTOHSCROLL | ES_READONLY
END

ID_TILEPROPERTIES_DIALOG DIALOGEX 47, 14, 177, 213
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Tile Properties"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "ok",       ID_TILEPROPERTIES_DIALOG_BUTTON_OK,        9, 190, 71, 14
    PUSHBUTTON      "Cancel",   ID_TILEPROPERTIES_DIALOG_BUTTON_CANCEL,   91, 190, 73, 14

    LTEXT           "Solidity", ID_TILEPROPERTIES_DIALOG_TEXT_SOLIDITY,   11, 13, 23, 12
    LTEXT           "ID",       ID_TILEPROPERTIES_DIALOG_TEXT_TILEID,     13, 39, 16, 12
    LTEXT           "x:",       ID_TILEPROPERTIES_DIALOG_TEXT_X,          12, 63, 11, 12
    LTEXT           "y:",       ID_TILEPROPERTIES_DIALOG_TEXT_Y,          59, 62, 11, 12


    EDITTEXT                    ID_TILEPROPERTIES_DIALOG_EDIT_TILEID,     39, 37, 23, 14, ES_AUTOHSCROLL | ES_NUMBER | ES_RIGHT | WS_CLIPSIBLINGS
    EDITTEXT                    ID_TILEPROPERTIES_DIALOG_EDIT_SOLIDITY,   39, 13, 24, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_RIGHT | WS_CLIPSIBLINGS

    EDITTEXT                    ID_TILEPROPERTIES_DIALOG_EDIT_TILEX,      25, 62, 29, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_RIGHT | WS_CLIPSIBLINGS //| ES_READONLY
    EDITTEXT                    ID_TILEPROPERTIES_DIALOG_EDIT_TILEY,      73, 62, 28, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_RIGHT | WS_CLIPSIBLINGS

    CONTROL         "",         ID_TILEPROPERTIES_DIALOG_TRACKBAR_SOLIDITY, "msctls_trackbar32", 0x21 | WS_CLIPSIBLINGS, 67, 10, 100, 18, WS_EX_STATICEDGE
    CONTROL         "",         ID_TILEPROPERTIES_DIALOG_TRACKBAR_TILEID,   "msctls_trackbar32", 0x21 | WS_CLIPSIBLINGS, 67, 35, 100, 18, WS_EX_STATICEDGE
    CONTROL         "",         ID_TILEPROPERTIES_DIALOG_STATIC,            "Static",      SS_OWNERDRAW | SS_BLACKFRAME, 11, 90, 155, 97

END

ID_ACCELERATORS ACCELERATORS
BEGIN
    78, 1, ASCII
END

ID_GETTILESFROMBITMAP_DIALOG DIALOGEX 76, 51, 281, 278
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
//STYLE DS_MODALFRAME | WS_MAXIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE 0
CAPTION "Rip Tiles"
FONT 8, "MS Sans Serif"
BEGIN

    SCROLLBAR      ID_GETTILESFROMBITMAP_HSCROLLBAR,  10, 259, 250,  11
    SCROLLBAR      ID_GETTILESFROMBITMAP_VSCROLLBAR, 260,  12,  11, 247, SBS_VERT

    PUSHBUTTON      "ok",         ID_GETTILESFROMBITMAP_BUTTON_OK, 10, 242, 40, 14
    PUSHBUTTON      "cancel", ID_GETTILESFROMBITMAP_BUTTON_CANCEL, 54, 242, 40, 14

    AUTOCHECKBOX    "grid",      ID_GETTILESFROMBITMAP_CHECK_GRID, 11, 212, 40, 10

    EDITTEXT        ID_GETTILESFROMBITMAP_EDIT_PREFIX,  32, 225, 40, 12, ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        ID_GETTILESFROMBITMAP_EDIT_INDEX,  112, 225, 40, 12, ES_AUTOHSCROLL | ES_NUMBER

    LTEXT           "Prefix", ID_GETTILESFROMBITMAP_TEXT_PREFIX, 11, 226, 20, 12
    LTEXT           "Index" , ID_GETTILESFROMBITMAP_TEXT_INDEX,  91, 226, 20, 12

    CONTROL         "", ID_GETTILESFROMBITMAP_STATIC, "Static", SS_OWNERDRAW | SS_BLACKFRAME, 7, 11, 254, 200
END

ID_SOLIDITY_DIALOG DIALOGEX 47, 14, 177, 213
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Solidity - This Applies to all futuer tiles"
FONT 8, "MS Sans Serif"
BEGIN

    PUSHBUTTON      "ok",       ID_SOLIDITY_BUTTON_OK,        9, 190, 71, 14
    PUSHBUTTON      "Cancel",   ID_SOLIDITY_BUTTON_CANCEL,   91, 190, 73, 14

    LTEXT           "Solidity", ID_SOLIDITY_TEXT_SOLIDITY,   11, 13, 23, 12
    LTEXT           "ID",       ID_SOLIDITY_TEXT_TILEID,     13, 39, 16, 12
    LTEXT           "Applies To All Tiles With this Graphic", ID_SOLIDITY_TEXT_X, 12, 63, 160, 12

    EDITTEXT                    ID_SOLIDITY_EDIT_TILEID,     39, 37, 23, 14, ES_AUTOHSCROLL | ES_NUMBER | ES_RIGHT | WS_CLIPSIBLINGS
    EDITTEXT                    ID_SOLIDITY_EDIT_SOLIDITY,   39, 13, 24, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_RIGHT | WS_CLIPSIBLINGS

    CONTROL         "",         ID_SOLIDITY_TRACKBAR_SOLIDITY, "msctls_trackbar32", 0x21 | WS_CLIPSIBLINGS, 67, 10, 100, 18, WS_EX_STATICEDGE
    CONTROL         "",         ID_SOLIDITY_TRACKBAR_TILEID,   "msctls_trackbar32", 0x21 | WS_CLIPSIBLINGS, 67, 35, 100, 18, WS_EX_STATICEDGE
    CONTROL         "",         ID_SOLIDITY_STATIC,            "Static",      SS_OWNERDRAW | SS_BLACKFRAME, 11, 90, 155, 97

END

ID_ASTARSTATS_DIALOG DIALOG 65, 18, 222, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "AStar Statistics"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        ID_ASTARSTATS_EDIT_TIMETAKEN,              108, 18, 87, 12, ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER
    EDITTEXT        ID_ASTARSTATS_EDIT_TOTALNODESSEARCHED,     108, 38, 86, 12, ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER
    EDITTEXT        ID_ASTARSTATS_EDIT_SHORTESTPATHLENGTH,     108, 57, 86, 12, ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER
    EDITTEXT        ID_ASTARSTATS_EDIT_MAXPERCENTAGETOSEARCH,  171, 76, 22, 12, ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        ID_ASTARSTATS_EDIT_NUMBEROFTILES,          126, 76, 27, 12, ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER
    LTEXT           "Time Taken(ms)",          ID_ASTARSTATS_TEXT_TIMETAKEN,                     12,  19,  50, 12
    LTEXT           "Total Nodes Opened",      ID_ASTARSTATS_TEXT_TOTALNODESSEARCHED,            12,  41,  78, 12
    LTEXT           "Shortest Path Length",    ID_ASTARSTATS_TEXT_SHORTESTPATHLENGTH,            13,  59,  69, 12
    LTEXT           "Max Percentage of Map To Search", ID_ASTARSTATS_TEXT_MAXPERCENTAGETOSEARCH, 14,  76, 110, 12
    PUSHBUTTON      "close",                   ID_ASTARSTATS_BUTTON_OK,                         121, 149,  69, 14
    PUSHBUTTON      "Start Search",            ID_ASTARSTATS_BUTTON_STARTSEARCH,                 15, 147,  57, 14
    AUTOCHECKBOX    "Allow Diagonal",          ID_ASTARSTATS_CHECK_ALLOWDIAGONAL,                12,  97,  63, 10
    AUTOCHECKBOX    "Show Nodes",              ID_ASTARSTATS_CHECK_SHOWNODES,                    12, 114,  55, 10
    AUTOCHECKBOX    "Show All Nodes Searched", ID_ASTARSTATS_CHECK_SHOWALLNODESSEARCHED,         12, 129,  98, 10
    AUTOCHECKBOX    "Show Start And End Nodes", ID_ASTARSTATS_CHECK_SHOWSTARTANDENDNODES, 109, 100, 92, 10
    CONTROL         "", ID_ASTARSTATS_UPDOWN_MAXPERCENTAGETOSEARCH, "msctls_updown32", 0x22 | WS_CLIPSIBLINGS | WS_VSCROLL, 194, 76, 12, 13, WS_EX_STATICEDGE
END

ID_ADDSPRITE_DIALOG DIALOG 57, 10, 294, 381
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Add Sprite"
FONT 8, "MS Sans Serif"
BEGIN

    LTEXT           "Sprite Index",               ID_ADDSPRITE_TEXT_SPRITEINDEX,  12,  10, 39, 12
    LTEXT           "Complete Cycle Length(ms)",  ID_ADDSPRITE_TEXT_CYCLELENGTH, 151, 279, 85, 12
    LTEXT           "Delay Till Next Frame (ms)",       ID_ADDSPRITE_TEXT_DELAY,  13, 279, 84, 12
    LTEXT           "X:",                                   ID_ADDSPRITE_TEXT_X, 175,  11,  8, 12
    LTEXT           "Y:",                                   ID_ADDSPRITE_TEXT_Y, 228,  12,  9, 10
    LTEXT           "Frame",                            ID_ADDSPRITE_TEXT_FRAME, 106,  11, 20, 12
    LTEXT           "zoom",                              ID_ADDSPRITE_TEXT_ZOOM, 169, 342, 23, 12
    LTEXT           "Available Images", ID_ADDSPRITE_TEXT_AVAILABLEIMAGES,        16, 299, 55, 12

    EDITTEXT        ID_ADDSPRITE_EDIT_ZOOM,        192, 341,  32, 12, ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        ID_ADDSPRITE_EDIT_FRAME,       135,  10,  32, 12, ES_AUTOHSCROLL
    EDITTEXT        ID_ADDSPRITE_EDIT_CYCLELENGTH, 237, 279,  32, 12, ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER
    EDITTEXT        ID_ADDSPRITE_EDIT_SPRITEINDEX,  54,   9,  32, 12, ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER
    EDITTEXT        ID_ADDSPRITE_EDIT_DELAY,        99, 279,  32, 12, ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        ID_ADDSPRITE_EDIT_X,           186,  10,  32, 12, ES_AUTOHSCROLL
    EDITTEXT        ID_ADDSPRITE_EDIT_Y,           241,  10,  32, 12, ES_AUTOHSCROLL

    PUSHBUTTON      "ok",        ID_ADDSPRITE_BUTTON_OK,            11, 356, 40, 14
    PUSHBUTTON      "cancel",    ID_ADDSPRITE_BUTTON_CANCEL,        65, 356, 40, 14
    PUSHBUTTON      "Play",      ID_ADDSPRITE_BUTTON_PLAY,         126, 319, 40, 14
    PUSHBUTTON      "Pause",     ID_ADDSPRITE_BUTTON_PAUSE,        169, 319, 40, 14
    PUSHBUTTON      "Stop",      ID_ADDSPRITE_BUTTON_STOP,         212, 319, 40, 14
    PUSHBUTTON      "add frame", ID_ADDSPRITE_BUTTON_USETHISIMAGE, 175, 297, 59, 14

    AUTOCHECKBOX    "Loop",   ID_ADDSPRITE_CHECK_LOOP,    126, 339, 40, 10

    CONTROL         "", ID_ADDSPRITE_TAB,                      "SysTabControl32",    0x0 | WS_CLIPSIBLINGS,          11,  24, 270, 247
    CONTROL         "", ID_ADDSPRITE_STATIC,                   "Static",             SS_OWNERDRAW | SS_BLACKFRAME,   14,  41, 262, 225
    CONTROL         "", ID_ADDSPRITE_UPDOWN_DELAY,             "msctls_updown32",    0x22 | WS_CLIPSIBLINGS,        131, 279,  12,  13, WS_EX_STATICEDGE
    CONTROL         "", ID_ADDSPRITE_TRACKBAR_FRAME,           "msctls_trackbar32",  0x21 | WS_CLIPSIBLINGS,         12, 317, 100,  18
    CONTROL         "", ID_ADDSPRITE_UPDOWN_ZOOM,              "msctls_updown32",    0x22 | WS_CLIPSIBLINGS,        224, 341,  12,  12, WS_EX_STATICEDGE
    CONTROL         "", ID_ADDSPRITE_TRACKBAR_AVAILABLEIMAGES, "msctls_trackbar32",  0x21 | WS_CLIPSIBLINGS,         73, 295, 100,  18
END

ID_DELETESPRITE_DIALOG DIALOG 97, 74, 180, 214
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Delete Sprite"
FONT 8, "MS Sans Serif"
BEGIN

    PUSHBUTTON      "delete this sprite", ID_DELETESPRITE_DIALOG_BUTTON_DELETE,  7, 192, 71, 14
    PUSHBUTTON      "cancel",             ID_DELETESPRITE_DIALOG_BUTTON_CANCEL, 84, 192, 40, 14

    EDITTEXT        ID_DELETESPRITE_DIALOG_EDIT_FRAME_INDEX, 54, 164, 24, 12, ES_AUTOHSCROLL
    EDITTEXT        ID_DELETESPRITE_DIALOG_EDIT_SPRITE_INDEX, 54, 140, 25, 12, ES_AUTOHSCROLL

    LTEXT           "Frame Index",  ID_DELETESPRITE_DIALOG_TEXT_FRAME_INDEX, 10, 166, 42, 12
    LTEXT           "Sprite Index", ID_DELETESPRITE_DIALOG_TEXT_SPRITE_INDEX, 9, 140, 42, 12

    CONTROL         "", ID_DELETESPRITE_DIALOG_TRACKBAR_FRAME_INDEX,  "msctls_trackbar32", 0x21 | WS_CLIPSIBLINGS, 82, 162, 90, 18
    CONTROL         "", ID_DELETESPRITE_DIALOG_TRACKBAR_SPRITE_INDEX, "msctls_trackbar32", 0x21 | WS_CLIPSIBLINGS, 82, 137, 90, 18
    CONTROL         "", ID_DELETESPRITE_DIALOG_STATIC,                "Static", SS_OWNERDRAW | SS_BLACKFRAME, 9, 11, 143, 117
END

ID_SPRITESTATS_DIALOG DIALOG 106, 95, 240, 297
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Sprite Stats"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "ok",                 ID_SPRITESTATS_DIALOG_BUTTON_OK,            9, 273, 40, 14
    PUSHBUTTON      "cancel",             ID_SPRITESTATS_DIALOG_BUTTON_CANCEL,       51, 273, 40, 14
    PUSHBUTTON      "replace this index", ID_SPRITESTATS_DIALOG_BUTTON_REPLACEINDEX, 13, 217, 63, 14

    CONTROL         "", ID_SPRITESTATS_DIALOG_STATIC,      "Static",            SS_OWNERDRAW | SS_BLACKFRAME,  9,   9, 223, 180
    CONTROL         "", ID_SPRITESTATS_DIALOG_TRACK_IMGID, "msctls_trackbar32", 0x21 | WS_CLIPSIBLINGS,       86, 193, 100,  18

    EDITTEXT        ID_SPRITESTATS_DIALOG_EDIT_IMGID, 53, 195, 32, 12, ES_AUTOHSCROLL | ES_NUMBER

    LTEXT           "Image Index", ID_SPRITESTATS_DIALOG_TEXT_IMGID, 12, 196, 40, 12
END

